@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

/* Navigation Section  */
.top-navigation-menu {
  align-items: center;
  justify-content: space-between;
  margin: 3%;
}

/* The Nav List Section  */

ul {
  list-style: none;
}

.flex-container a {
  display: block;
  padding: 0 2rem;
  text-decoration: none;
  color: var(--Desaturated-Blue);
}

.flex-container a:hover {
  transform: translateY(-8px);
  color: var(--Bright-Blue);
}

/* Hero Section  */
#features {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5%;
  color: var(--Very-Dark-Blue);
  animation-name: color;
  animation-duration: 5s;
}

@keyframes color {
  0% {
    background-color: red;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: greem;
  }
}

.img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
}

.feature-text {
  width: 85%;
}

.email-section {
  width: 50%;
  padding: 2%;
  color: var(--Light-Gray);
}

.get-started-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: var(--Bright-Blue);
  padding: 2% 8%;
  color: var(--Light-Grayish-Blue);
  border: 0;
}

.get-started-btn:hover {
  opacity: 70%;
  cursor: pointer;
}

/* Team Section  */

#Team {
  background-color: var(--Light-Grayish-Blue);
  color: var(--Very-Dark-Blue);
  position: relative;
  height: auto;
  margin-top: 15%;
}

#Team::before {
  content: "";
  position: absolute;
  top: -10%;
  right: 0;
  background-image: url("./images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  height: 200px;
  z-index: -10;
  width: 100%;
}

/* svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 161%;
  z-index: 0;
  color: var(--Light-Grayish-Blue);
} */

.team-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5% 5% 0 5%;
  padding: 10% 0;
}

/* Img and Content Section Reused from top */

.wd-8 {
  width: 80%;
}

.how-it-works {
  border-bottom: 1px solid var(--Bright-Blue);
  width: 28%;
  color: var(--Moderate-Cyan);
  padding: 1% 0;
}

.how-it-works::after {
  content: "";
  background: url(images/icon-arrow.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0.8%;
}

.how-it-works:hover {
  opacity: 50%;
  cursor: pointer;
}

.content-section {
  z-index: 2;
}

/* Testomonial Section  */

.testomonial {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  max-width: 55%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px gray;
}

.testomonial-text {
  line-height: 1.5;
}

.testomonial::before {
  content: "";
  background: url(images/icon-quotes.svg) no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Profile Section  */
.profile {
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.profile-names {
  font-size: 0.8rem;
  margin-left: 5%;
}

.profile-title {
  margin-bottom: 0;
  font-weight: 700;
}

.profile-name {
  margin-top: 0;
}

/* CTA Section  */

#cta {
  display: grid;
  background-color: var(--Desaturated-Blue);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 5%;
}

.cta-heading {
  color: #fff;
  font-size: 2rem;
}

.cta-text {
  color: #fff;
  width: 80%;
}

.em-2 {
  width: 80%;
  border-radius: 5px;
}

.mr-3 {
  margin-top: 3%;
}

/* Footer Section */

footer {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  padding: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  column-gap: 10%;
  margin: 2% 0;
  font-family: "Open Sans", sans-serif;
}

.phone {
  align-items: center;
}

.phone-img {
  max-width: 100%;
  height: 100%;
  margin-right: 5%;
}

.email {
  align-items: center;
}

.email-img {
  max-width: 100%;
  margin-right: 5%;
}

/* Navigation Section */

.nav-item {
  padding-top: 15%;
}

.nav-item-top {
  padding-top: 0;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: translateY(-3px);
}

.nav-item-top:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: translateY(-3px);
}
/* Social icons */

.circle {
  margin: 6%;
  border: 1px solid white;
  padding: 5%;
  border-radius: 50%;
}

.circle:hover {
  cursor: pointer;
  color: var(--Moderate-Cyan);
  border: 1px solid var(--Moderate-Cyan);
  transform: translateY(-5px);
}

/* Attribute Section  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 680px) {
  .navbar-img {
    max-width: 60%;
  }

  .img {
    max-width: 60%;
  }

  .flex-container a {
    padding: 0 1rem 0 0;
  }

  #features {
    flex-direction: column;
    text-align: center;
  }
  .img {
    max-width: 100%;
  }
  .email-section {
    width: 80%;
    margin-bottom: 3%;
  }

  .get-started-btn {
    padding: 2% 33%;
  }

  .team-content {
    flex-direction: column;
    text-align: center;
  }
  .wd-8 {
    width: 100%;
  }

  .how-it-works {
    width: 50%;
    margin: 5% auto;
  }

  .testomonial {
    max-width: 80%;
    margin: 0 auto;
  }

  .profile-title {
    text-align: left;
  }

  #cta {
    grid-template-columns: 1fr;
    gap: 10%;
    padding: 15% 5%;
    text-align: center;
  }

  .cta-text {
    width: 100%;
  }

  .em-2 {
    width: 70%;
    margin: 0;
  }

  .mr-3 {
    padding: 2% 21%;
  }

  footer {
    padding: 20% 8%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 5%;
  }

  ul {
    padding: 0;
  }

  .nav-item {
    padding-top: 5%;
  }

  .social-icons {
    text-align: center;
  }

  .circle {
    margin: 3%;
    padding: 4%;
  }

  #Team {
    background-color: var(--Light-Grayish-Blue);
    color: var(--Very-Dark-Blue);
    position: relative;
    height: auto;
    margin-top: 30%;
  }

  #Team::before {
    content: "";
    position: absolute;
    top: -5%;
    right: 0;
    background-image: url("./images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    height: 200px;
    z-index: -10;
    width: 100%;
  }
}
